<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>online shop</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}" media="all">
</head>
<body>
<h2 th:text="'Dear '+ ${userName}+', your order'"></h2>
<div class="flex-container">
    <div>
        <ol>

                <li th:each="product : ${priceOrder}"
                th:text="${product.getName()}+' '+${product.getPrice()}+' $'"/>

        </ol>
        <p th:text="'Total: $ '+ ${totalPrice}"></p>
    </div>
</div>
</body>
</html>